div {
  box-sizing: border-box;
}
body{
  background-color:  #273956;
}

canvas {
  border: 1px solid black;
  box-shadow: 5px 5px 5px gray;
  background-color: black;
}

h1{
  margin-left: 188px;
  color: #cccccc;
  font-family: "Segoe UI";

}

.game{
  float: right;
}
#instructions{
  font-family: "Segoe UI";
  position: absolute;
  left: 600px;
  top: 100px;
  float: left;

}
